<a href="https://colab.research.google.com/github/remy-ineza1/AIMS_PP2019/blob/master/Grade_quiz_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Grade Quiz 1

In [1]:
#libraries
import numpy as np
import pandas as pd

In [3]:
#dataset and description
url='https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [ ]:
#view the dataset
fuel_data

In [5]:
#let's see which has the lowest fuel cost per unit burned
fuel=['waste','oil','gas','coal']
fuel_cost_per_unit_burned=[]
for f in fuel:
    df=fuel_data.loc[fuel_data.fuel_type_code_pudl==f]
    a= df['fuel_cost_per_unit_burned'].mean()
    fuel_cost_per_unit_burned.append(a)
fuel_cost_per_unit_burned

[19.518122448979593, 168.87708568948383, 13.659396569737135, 67.42182999882996]

In [6]:
# lets compute standard deviation on fuel_mmbtu_per_unit, 75 percentile is in description above
fuel_data['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [7]:
#skewness and kurtosis for the fuel quantity burned
skew_kurt=[fuel_data['fuel_qty_burned'].skew(),fuel_data['fuel_qty_burned'].kurt()]
skew_kurt

[15.851495469109503, 651.3694501337732]

In [8]:
#Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [10]:
(180/fuel_data.shape[0])*100

0.609694136774718

In [11]:
#The feature with missing values falls under what category? What missing value imputation technique would you use?
#let's first see the type of this data
fuel_data['fuel_unit']

0        ton
1        ton
2        ton
3        ton
4        mcf
        ...
29518    mcf
29519    mcf
29520    mcf
29521    ton
29522    mcf
Name: fuel_unit, Length: 29523, dtype: object

it is categorical

In [12]:
#Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?
fuel_data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [14]:
#For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?
# for 1998
coal=fuel_data.loc[fuel_data.fuel_type_code_pudl=='coal']
c_1998=coal.loc[coal.report_year==1998]
coal_1998=c_1998.fuel_cost_per_unit_burned.values.sum()

# for 1994
c_1994=coal.loc[coal.report_year==1994]
coal_1994=c_1994.fuel_cost_per_unit_burned.values.sum()

# percentage
per=((coal_1998-coal_1994)/coal_1994)*100
per

-20.56765451826053

In [15]:
# Which year has the highest average fuel cost per unit delivered?
fuel_data.groupby('report_year').mean()

             utility_id_ferc1  ...  fuel_cost_per_mmbtu
report_year                    ...
1994               106.120648  ...             3.086977
1995               110.139051  ...             2.868838
1996               108.714154  ...             2.695880
1997               108.366545  ...             3.113486
1998               109.845528  ...             2.775862
1999               108.222857  ...             2.740251
2000               111.083758  ...             4.208403
2001               113.521386  ...             4.612658
2002               120.354357  ...             6.226281
2003               123.300578  ...             7.223933
2004               121.123322  ...             8.441597
2005               121.028369  ...             9.397078
2006               117.178600  ...            10.339898
2007               116.040348  ...            10.735181
2008               120.785016  ...            12.690115
2009               118.139116  ...            10.619376
2010               117.992863  ...             8.551217
2011               121.069355  ...             9.237591
2012               120.769912  ...             8.808904
2013               122.082569  ...             9.308225
2014               129.263877  ...            10.064673
2015               128.591949  ...             8.054361
2016               133.117021  ...             6.915613
2017               131.126888  ...           368.736351
2018               133.669821  ...             7.233643

[25 rows x 6 columns]